.navbar-nav{
    font-family:"Times new roman",sans-serif;
    text-decoration:white;
    font-weight: bold;
  }
  #nav-bar
  {
      background-color:#c5d7bd;
      position:static;
      top:0;
      z-index:10;
  }
  .nav-link:hover {
      background-image:black;
  }
  .nav-link {
      font-family:"Times new roman",sans-serif;
  }
  a{
      color:white;
  }
  